# Flutter and Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
generated_plugin_registrant.dart

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Xcode
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcodeproj/*
*.xcworkspace/*
*.xcconfig
**/DerivedData/
.idea/
*.moved-aside
*.ipa
*.app
*.dSYM.zip
*.dSYM

# Android
**/build/
**/*.iml
.gradle/
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/runConfigurations.xml
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries
.idea/scopes
.idea/codeStyles/Project.xml

# Android Studio
*.iml
*.hprof
.idea/

# Miscellaneous
*.log
*.pyc
*.pyo
*.env
.vscode/
*.swp
*.swo
*.DS_Store

# Platform specific configurations
/android
/ios